<div class="container-fluid">
  <div class="header">Post your add</div>
  <div class="container">
    <div class="heading">
      <h4>SELECTED CATEGORY</h4>
      <div class="selected-cat">
        <p>{{ mainCategory }}/{{ subCategory }}</p>
        <a routerLink="/post-menu" *ngIf="mode == undefined">Change</a>
      </div>
      <nav class="navbar-bottom"></nav>
    </div>
    <h4>INCLUDE SOME DETAILS</h4>
    <div class="include-details">
      <mat-form-field
        *ngIf="subCategory == 'Mobiles' || subCategory == 'Tablets'"
      >
        <mat-label>Brand</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="handleBrand($event.option.value)"
          [displayWith]="displayBrand"
        >
          <mat-option
            *ngFor="let brand of filteredBrands | async"
            [value]="brand"
          >
            {{ brand.brandName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Enter Title"
          [(ngModel)]="commonPayload.title"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Enter Description"
          name="textareaInput"
          [(ngModel)]="commonPayload.discription"
          rows="3"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="price-section">
      <h4>SET A PRICE</h4>
      <div class="include-details">
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input
            matInput
            placeholder="Enter price"
            (input)="allowOnlyNumbers($event)"
            [(ngModel)]="commonPayload.price"
          />
        </mat-form-field>
        <div *ngIf="!isPriceValid" style="color: red; margin-top: -10px">
          Price should contain a minimum of two digits*
        </div>
      </div>
    </div>
    <div class="uplod-sectin h-365">
      <h4>UPLOAD UP TO 10 PHOTOS</h4>
      <div class="progs" *ngIf="progress">
        <h5>Upload Progress</h5>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="cards-cont">
        <ul class="upld">
          <li
            class="upload-card"
            *ngFor="let item of cardsCount; let i = index"
          >
            <div
              class="upload-card-brd"
              (click)="selectFile()"
              id="{{ i }}"
              *ngIf="item == ''"
            >
              <input
                type="file"
                id="fileUpload"
                name="fileUpload"
                (change)="selectImage($event)"
                style="display: none"
                multiple
              />
              <div>
                <button class="camera">
                  <img src="../../../assets/camera.svg" alt="camera" />
                </button>
                <span class="add">Add photo</span>
              </div>
            </div>
            <div class="upload-card-brd" *ngIf="item != ''">
              <div class="preview">
                <button
                  class="delete-button"
                  (click)="deleteBackgroundImage(i)"
                >
                  <span class="delete-icon">&#10006;</span>
                </button>
                <div class="first-image" *ngIf="i === 0 && firstImageUploaded">
                  <div class="cover-tag">Cover Photo</div>
                </div>
                <img [src]="item" height="100px" width="100px" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="include-details">
      <h4 class="loc">CONFIRM YOUR LOCATION</h4>

      <mat-radio-group
        [(ngModel)]="locationConfirmationType"
        class="location-radios"
        color="primary"
        (change)="onLocationConfirmationTypeChange()"
      >
        <mat-radio-button value="pincode"
          ><span class="loc-radio"
            >Confirm location by pincode</span
          ></mat-radio-button
        >
        <mat-radio-button value="manual" class="loc-radio"
          ><span class="loc-radio">Select your location</span></mat-radio-button
        >
      </mat-radio-group>

      <div
        class="confirm-location-input"
        *ngIf="locationConfirmationType === 'pincode'"
      >
        <mat-form-field>
          <mat-label>Pincode</mat-label>
          <input
            matInput
            placeholder="Enter your pincode"
            (input)="getAddress($event); allowOnlyNumbersPincode($event)"
            [(ngModel)]="commonPayload.pincode"
            maxlength="6"
          />
        </mat-form-field>
        <mat-form-field *ngIf="commonPayload.state != ''">
          <mat-label>State</mat-label>
          <input
            matInput
            placeholder="State"
            [(ngModel)]="commonPayload.state"
            readonly
          />
        </mat-form-field>
        <mat-form-field *ngIf="commonPayload.state != ''">
          <mat-label>City</mat-label>
          <input
            matInput
            placeholder="City"
            [(ngModel)]="commonPayload.city"
            readonly
          />
        </mat-form-field>
        <mat-form-field *ngIf="commonPayload.state != ''">
          <mat-label>Near By</mat-label>
          <!-- Add a dropdown for post office names -->
          <mat-select [(ngModel)]="commonPayload.nearBy">
            <mat-option
              *ngFor="let postOffice of postOffices"
              [value]="postOffice.Name"
            >
              {{ postOffice.Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="confirm-location-input"
        *ngIf="locationConfirmationType === 'manual'"
      >
        <!-- State -->
        <mat-form-field appearance="fill" class="form-field-w-100">
          <mat-label>State</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="stateControl"
            [(ngModel)]="commonPayload.state"
            [matAutocomplete]="state"
          />
          <mat-autocomplete
            #stateMatAutocomplete
            autoActiveFirstOption
            #state="matAutocomplete"
            (optionSelected)="onDistrictChange($event)"
            [displayWith]="displayLocation"
          >
            <mat-option
              *ngFor="let district of filteredStates | async"
              [value]="district"
            >
              {{ district.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- City -->
        <mat-form-field
          appearance="fill"
          *ngIf="filterObj?.state"
          class="form-field-w-100"
        >
          <mat-label>City</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="cityControl"
            [matAutocomplete]="city"
            [(ngModel)]="commonPayload.city"
          />
          <mat-autocomplete
            #cityMatAutocomplete
            autoActiveFirstOption
            #city="matAutocomplete"
            (optionSelected)="onCityChange($event)"
            [displayWith]="displayLocation"
          >
            <mat-option
              *ngFor="let city of filteredCities | async"
              [value]="city"
            >
              {{ city.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Near By -->
        <mat-form-field
          appearance="fill"
          *ngIf="filterObj?.city"
          class="form-field-w-100"
        >
          <mat-label>Near By</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="nearByControl"
            [matAutocomplete]="nearBy"
            [(ngModel)]="commonPayload.nearBy"
          />
          <mat-autocomplete
            #nearByMatAutocomplete
            autoActiveFirstOption
            #nearBy="matAutocomplete"
            (optionSelected)="onNearByChange($event)"
            [displayWith]="displayLocation"
          >
            <mat-option
              *ngFor="let nearBy of filteredNearBy | async"
              [value]="nearBy"
            >
              {{ nearBy.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="details">
      <h4>REVIEW YOUR DETAILS</h4>
      <div class="flx">
        <div class="circle">
          <img [src]="imageUrl" alt="Uploaded Image" />
          <input
            type="file"
            id="upload"
            (change)="uploadProfilePicture($event)"
            style="display: none"
          />
        </div>
        <button class="upload-button" (click)="selectProfilePicture()">
          +
        </button>
        <div class="wd-300">
          <div class="wd-100">
            <p class="w-50">Name</p>
            <input
              class="details-input"
              type="text"
              [(ngModel)]="userData.firstName"
              [readonly]="!this.isAppSupport"
            />
          </div>
          <div class="wd-100">
            <p class="w-50">Phone number</p>
            <input
              class="details-input"
              type="text"
              [(ngModel)]="userData.mobileNo"
              [readonly]="!this.isAppSupport"
            />
          </div>
        </div>
      </div>
    </div>
    <div>
      <button
        class="post"
        mat-raised-button
        color="primary"
        (click)="postAdd()"
        *ngIf="!isFromAdmin"
      >
        Publish Now
      </button>
      <button
        class="post"
        mat-raised-button
        color="primary"
        (click)="verifyAdd()"
        *ngIf="isFromAdmin"
      >
        Approve Now
      </button>
    </div>
  </div>
</div>
