.adds-conrainer {
  max-width: 1400px;
  padding: 1rem;
  margin: auto;
  background-color: #ffffff;
}

.adds-conrainer h3 {
  font-size: 24px;
  font-weight: 600;
  color: #1c1533;
  margin: 8px 0 16px 0;
}

::ng-deep .mat-mdc-tab-group .mdc-tab-indicator__content--underline {
  border-color: #e75462 !important;
}
::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #e75462 !important;
}
/* 
.content-container {
  max-width: 760px;
} */

.content-container h4 {
  font-size: 16px;
  font-weight: 600;
  color: #1c1533;
  margin: 0 0 8px 0;
}

.content-container p {
  font-size: 15px;
  color: #635b76;
  line-height: 1.65;
  margin: 0 0 10px 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  text-decoration: none;
  color: #635b76;
}

@media (max-width: 750px) {
  .adds-conrainer {
    margin-top: 175px;
    padding: 1rem 1.5rem;
  }
}
