.flex {
    display: flex;
  }
  
  .cards {
    width: 100%;
    margin-left: -75px !important;
    background-color: #fafafa;
  }
  
  .spinner__loading {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 30%;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  
  .w-30 {
    width: 30%;
  }


  /* changes made by hamza */


  .mat-mdc-card.mdc-card.example-card.ng-star-inserted {
  /* height: 335px !important; */
  min-width: 270px !important;
  max-width: 270px !important;
}


.mat-mdc-card-image.mdc-card__media.card-image{
  width: 270px !important;
  height: 230px !important;
}

.mat-mdc-card-content.description{
  font-size: 14px !important;
}

.mr-20 {
  margin-right: 20px;
}

.flex-whole{
  display: flex;
}

.bg-whole{
  background-color: #fafafa;
}

.bg{
  background-color: #fafafa;
}

.bg-white{
  background-color: #fff;
  z-index: 10;
}

.filters-md{
  padding-top: 100px;
  display: none;
  font-size: 20px;
  width: auto;
  color: #fff;
}

.filters-md span{
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #222;
  margin-left: 100px;
  color: #007fb0;
  text-decoration: underline;
}

/* .md-none{
  display: block;
} */


@media (max-width:750px) {
  .md-none{
    display: none;
  }

  .md-block{
    display: block;
  }

  .w-md-none{
    width: 0;
  }

  .filters-md{
    display: block;
  }

  .md-w-100{
    /* margin-right: -70px !important; */
  }

  .cards{
    width: 110%;
  }

}

@media (max-width:548px) {
  /* .md-w-100{
    width: 120% !important;
    min-width: 120% !important;
  } */

  .cards{
    width: 120%;
  }

}

@media (max-width:490px) {

  .cards{
    /* margin-left: 20px !important; */
  }

}
@media (max-width:490px) {

  .cards{
    /* margin-left: 30px !important; */
  }

}
@media (max-width:525px) {

  .cards{
    /* margin-left: 30px !important; */
  }

}