.mt-110 {
  margin-top: 122px;
}
.mt-30 {
  margin-top: 30px;
}

::ng-deep .cdk-global-overlay-wrapper,
::ng-deep .cdk-overlay-container {
  z-index: 2000 !important;
}

::ng-deep .mat-dialog-container {
  padding: 0;
  overflow: hidden;
  border-radius: 12px;
  max-height: 90vh;
}

/* .bg-mat-app-background{
    background-color: #fafafa;
} */
