<div class="tabs">
  <button type="button" class="tabs-title is-active">Top Locations</button>
  <div class="tabs-content">

    <ul class="link-list">
      <li class="item">
        <a class="link">Whitefield</a>
      </li>
      <li class="item">
        <a class="link">Koramangala</a>
      </li>
      <li class="item">
        <a class="link">Indiranagar</a>
      </li>
      <li class="item">
        <a class="link">Marathahalli</a>
      </li>
      <li class="item">
        <a class="link">BTM Layout</a>
      </li>
      <li class="item">
        <a class="link">JP Nagar</a>
      </li>
      <li class="item">
        <a class="link">HSR Layout</a>
      </li>
    </ul>

    <ul class="link-list">
      <li class="item">
        <a class="link">Electronic City</a>
      </li>

      <li class="item">
        <a class="link">Bellandur</a>
      </li>

      <li class="item">
        <a class="link">Sarjapur Road</a>
      </li>



      <li class="item">
        <a class="link">Hebbal</a>
      </li>

      <li class="item">
        <a class="link">Jayanagar</a>
      </li>

      <li class="item">
        <a class="link">Yelahanka</a>
      </li>

      <li class="item">
        <a class="link">KR Puram</a>
      </li>

      <li class="item">
        <a class="link">Mahadevapura</a>
      </li>

      <li class="item">
        <a class="link">Brookefield</a>
      </li>

      <li class="item">
        <a class="link">Varthur</a>
      </li>


      <li class="item">
        <a class="link">Yeshwanthpur</a>
      </li>

      <li class="item">
        <a class="link">Domlur</a>
      </li>

      <li class="item">
        <a class="link">Banashankari</a>
      </li>
    </ul>

  </div>
</div>