<div class="tabs">
  <button type="button" class="tabs-title is-active">Top Locations</button>
  <div class="tabs-content">
    <h4>Top Cities</h4>
    <ul class="link-list">
      <li class="item">
        <a class="link">Delhi</a>
      </li>
      <li class="item">
        <a class="link">New Delhi</a>
      </li>
      <li class="item">
        <a class="link">Mumbai</a>
      </li>
      <li class="item">
        <a class="link">KolKata</a>
      </li>
      <li class="item">
        <a class="link">Ahmadabad</a>
      </li>
      <li class="item">
        <a class="link">Pune</a>
      </li>
      <li class="item">
        <a class="link">Bengaluru</a>
      </li>
      <li class="item">
        <a class="link">Hyderabad</a>
      </li>
      <li class="item">
        <a class="link">Chennai</a>
      </li>
      <li class="item">
        <a class="link">Ghaziabad</a>
      </li>
      <li class="item">
        <a class="link">Lucknow</a>
      </li>
      <li class="item">
        <a class="link">Kanpur</a>
      </li>
      <li class="item">
        <a class="link">Noida</a>
      </li>
      <li class="item">
        <a class="link">Prayagraj</a>
      </li>
      <li class="item">
        <a class="link">Aligarh</a>
      </li>
      <li class="item">
        <a class="link">Agra</a>
      </li>
      <li class="item">
        <a class="link">Gorakhpur</a>
      </li>
      <li class="item">
        <a class="link">Meerut</a>
      </li>
      <li class="item">
        <a class="link">Dehradun</a>
      </li>
      <li class="item">
        <a class="link">Durgapur</a>
      </li>
      <li class="item">
        <a class="link">Patna</a>
      </li>
      <li class="item">
        <a class="link">Chandigarh</a>
      </li>
      <li class="item">
        <a class="link">Rajkot</a>
      </li>
      <li class="item">
        <a class="link">Surat</a>
      </li>

      <li class="item">
        <a class="link">Vadodara</a>
      </li>
      <li class="item">
        <a class="link">Gurugram</a>
      </li>
      <li class="item">
        <a class="link">Faridabad</a>
      </li>
      <li class="item">
        <a class="link">Shimla</a>
      </li>
      <li class="item">
        <a class="link">Mysore</a>
      </li>
      <li class="item">
        <a class="link">Kochi</a>
      </li>
      <li class="item">
        <a class="link">Bhopal</a>
      </li>
      <li class="item">
        <a class="link">Gwalior</a>
      </li>
      <li class="item">
        <a class="link">Indore</a>
      </li>
      <li class="item">
        <a class="link">Varanasi</a>
      </li>
      <li class="item">
        <a class="link">Jabalpur</a>
      </li>
      <li class="item">
        <a class="link">Nagpur</a>
      </li>
      <li class="item">
        <a class="link">Nashik</a>
      </li>
      <li class="item">
        <a class="link">Bhubaneswar</a>
      </li>
      <li class="item">
        <a class="link">Amritsar</a>
      </li>
      <li class="item">
        <a class="link">Jalandhar</a>
      </li>
      <li class="item">
        <a class="link">Ludhiana</a>
      </li>
      <li class="item">
        <a class="link">Kota</a>
      </li>
      <li class="item">
        <a class="link">Jaipur</a>
      </li>
      <li class="item">
        <a class="link">Coimbatore</a>
      </li>

      <li class="item">
        <a class="link">Madurai</a>
      </li>
    </ul>
  </div>
</div>
