<footer class="footer">
  <div class="footer-container">
    <!-- LOGO / SLOGAN -->
    <div class="footer-top">
      <img
        src="https://cfdblob.blob.core.windows.net/logo/Claxified_Slogan.png"
        alt="Claxified - Sell Anything, Find Everything"
        class="footer-slogan-logo"
      />
    </div>

    <!-- LINK GRID -->
    <div class="footer-grid">
      <div *ngFor="let section of footerSections" class="footer-col">
        <h3 class="footer-heading">{{ section.title }}</h3>

        <ng-container *ngIf="isRouteSection(section)">
          <a
            *ngFor="let link of section.links"
            [routerLink]="['/page', link.slug]"
            class="footer-link"
          >
            {{ link.label }}
          </a>
        </ng-container>

        <ng-container *ngIf="!isRouteSection(section)">
          <span *ngFor="let link of section.links" class="footer-link disabled">
            {{ link.label }}
          </span>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- BOTTOM BAR -->
  <div class="footer-bottom">
    <p class="copyright-text">
      © 2022–2026 Claxified™. All Rights Reserved.<br />
      Owned &amp; Operated by Alphazed Software Private Limited.
    </p>
  </div>
</footer>
