footer{
    padding: 15px 0;
    font-family: "Montserrat", sans-serif;
    /* text-align: center; */
}

.container{
    display: flex;
    justify-content: center !important;
    /* flex-wrap: wrap; */
    /* max-width: 1400px; */
    width: 100%;
    padding: 20px 30px;
    margin: 0 auto !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    /* gap: 10px; */
    /* margin-right: -15px;
    margin-left: -15px; */
}

.row div{
    flex: 1;
}

#button-addon1 {
    color: #ffc371;
}
  
i {
    color: #0000cc;
    font-size: 20px;
}
  
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}
  
.form-control.shadow-0:focus {
    box-shadow: none;
}
  
  
.bg-light-black{
    background: #292a2c;
    padding-bottom: 40px;
    /* padding: 20px 0; */
}

.footer-heading{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin: 20px 0 10px 0;
    line-height: 1.2;
    text-transform: uppercase;
}

.list-head{
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding-top: 10px;
}

.list-item{
    padding: 5px 0;
}

.text-muted{
    color: #c2c2c2;
    display: inline-block;
    line-height: 1.5;
    font-size: 16px;
}

.text-muted:hover{
    color: #fff;
}

.hover-none:hover{
    color: #c2c2c2;
}

.bg-dark-color{
    padding: 5px 0;
    background-color: #000;
    margin-bottom: -20px;
}

.bg-dark-color .container{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 30px;
}

.copyright-text{
    color: #fff;
    /* padding-top: 10px; */
    margin-left: -12px;
}

.footer-logo{
    width: 10rem;
    height: 8rem;
}

/* .col-md-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
} */


@media (max-width: 1200px)
{
    .container{
        max-width: 1140px;
    }

    .col-md-6 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 912px)
{
    .container{
        max-width: 960px;
    }
}

@media (max-width: 768px)
{
    .container{
        max-width: 720px;
    }

    .col-md-6 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}


@media (max-width: 576px)
{
    footer{
        text-align: center;
    }

    .container{
        max-width: 540px;
    }

    .col-md-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 992px){
.col-md-6 {
    flex: 0 0 25%;
    max-width: 25%;
}
}