/* MAIN FOOTER */
.footer {
  background: #000000;
  font-family: "Montserrat", sans-serif;
}

/* CONTAINER */
.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 20px 20px 0;
}

/* LOGO / SLOGAN */
.footer-top {
  margin-bottom: 20px;
}

.footer-slogan-logo {
  height: 150px;
  width: auto;
  margin-left: -20px;
  display: inline-block;
}

/* GRID SYSTEM */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 45px;
  padding-bottom: 50px;
}

/* COLUMN */
.footer-col {
  display: flex;
  flex-direction: column;
}

/* HEADINGS */
.footer-heading {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin: 0 0 18px 0;
}

/* LINKS */
.footer-link {
  display: block;
  color: #9c9c9c;
  text-decoration: none;
  font-size: 14px;
  margin: 7px 0;
  transition: all 0.25s ease;
  cursor: pointer;
  border-radius: 0px;
}

/* HOVER EFFECT */
.footer-link:hover {
  color: #ffffff;
  transform: translateX(4px);
}

/* DISABLED TEXT */
.footer-link.disabled {
  cursor: default;
}

.footer-link:focus {
  outline: none;
}

.footer-link.disabled:hover {
  transform: none;
  color: #9c9c9c;
}

/* BOTTOM BAR */
.footer-bottom {
  border-top: 1px solid #262626;
  text-align: center;
  padding: 22px 15px;
}

.copyright-text {
  color: #e0e0e0;
  font-size: 13px;
  line-height: 1.7;
  margin: 0;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    text-align: center;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    row-gap: 35px;
  }

  .footer-link:hover {
    transform: none;
  }
}
