<footer class="bg-light-black">
  <div class="footer-top">
    <div class="container py-6 bg-light-black">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <p class="footer-heading">About Us</p>
          <ul class="list-unstyled mb-0 p-0 list-head">
            <li class="mb-2 list-item">
              <a target="_blank" routerLink="/help" class="text-muted"
                >About Claxified</a
              >
            </li>
            <li class="mb-2 list-item">
              <a target="_blank" routerLink="/help" class="text-muted"
                >Vision & Mission</a
              >
            </li>
            <li class="mb-2 list-item">
              <a
                target="_blank"
                [routerLink]="'/vacancy-opening'"
                class="text-muted"
                >Career in Claxified</a
              >
            </li>
            <li class="mb-2 list-item">
              <a
                target="_blank"
                class="text-muted"
                routerLink="/vacancy-opening"
                >Job Openings</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <p class="footer-heading">Help Manual</p>
          <ul class="list-unstyled mb-0 list-head">
            <li class="mb-2 list-item">
              <a target="_blank" routerLink="/help" class="text-muted"
                >Policies</a
              >
            </li>
            <li class="mb-2 list-item">
              <a target="_blank" routerLink="/help" class="text-muted"
                >Safety</a
              >
            </li>
            <li class="mb-2 list-item">
              <a target="_blank" routerLink="/help" class="text-muted"
                >Premium Ads</a
              >
            </li>
            <li class="mb-2 list-item">
              <a target="_blank" routerLink="/help" class="text-muted"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <p class="footer-heading">Top Category</p>
          <ul class="list-unstyled mb-0 list-head">
            <li class="mb-2 list-item">
              <a class="text-muted">Vehicles</a>
            </li>
            <li class="mb-2 list-item">
              <a class="text-muted">Property</a>
            </li>
            <li class="mb-2 list-item">
              <a class="text-muted">Jobs</a>
            </li>
            <li class="mb-2 list-item">
              <a class="text-muted">Gadgets</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <p class="footer-heading">Business Partner</p>
          <ul class="list-unstyled mb-0 list-head">
            <li class="mb-2 list-item">
              <a class="text-muted">CodeOK Digital</a>
            </li>
            <li class="mb-2 list-item">
              <a class="text-muted">Alphazed Software</a>
            </li>
            <li class="mb-2 list-item">
              <a class="text-muted">Koed Learning</a>
            </li>
            <li class="mb-2 list-item">
              <a class="text-muted">W3MIS Software</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark-color">
    <div class="container text-center">
      <img src="../../../../assets/footerlogo.png" alt="" class="footer-logo" />
      <p class="copyright-text">Copyright @ Alphazed Software Pvt Ltd.</p>
    </div>
  </div>
</footer>
