<footer class="footer">
  <div class="footer-container">
    <div class="footer-grid">
      <div *ngFor="let section of footerSections" class="footer-col">
        <h3 class="footer-heading">{{ section.title }}</h3>

        <!-- ROUTE LINKS -->
        <ng-container *ngIf="isRouteSection(section)">
          <a
            *ngFor="let link of section.links"
            [routerLink]="['/page', link.slug]"
            class="footer-link"
          >
            {{ link.label }}
          </a>
        </ng-container>

        <!-- TEXT LINKS -->
        <ng-container *ngIf="!isRouteSection(section)">
          <span *ngFor="let link of section.links" class="footer-link disabled">
            {{ link.label }}
          </span>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Bottom Bar -->
  <div class="footer-bottom bg-dark-color">
    <div class="container text-center">
      <img src="../../../../assets/footerlogo.png" alt="" class="footer-logo" />
      <p class="copyright-text">
        Claxified™ is a digital platform owned and operated by Alphazed
        Software.
      </p>
    </div>
  </div>
</footer>
