/* .flex {
    display: flex;
  }
  
  .cards {
    width: 100%;
    margin-left: -75px !important;
    background-color: #fafafa;
  }
  
  .spinner__loading {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 30%;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  
  .w-30 {
    width: 30%;
  }


  .mat-mdc-card.mdc-card.example-card.ng-star-inserted {
    min-width: 250px !important;
    max-width: 250px !important;
  }
  
  
  .mat-mdc-card-image.mdc-card__media.card-image{
    width: 250px !important;
    height: 230px !important;
  }
  
  .mat-mdc-card-content.description{
    font-size: 14px !important;
  }

.mr-20 {
  margin-right: 20px;
}

.bg{
  background-color: #fafafa;
}


.bg-white{
  background-color: #fff;
  z-index: 10;
} */
